<div class="col-12">
    <p-panel header="Busqueda de Productos">
        <form [formGroup]="formBusqueda" (ngSubmit)="buscar()">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Nombre Producto</label>
                <input formControlName="txtNombre" type="text" pInputText placeholder="Nombres"
                  class="p-inputtext p-component p-element" />
                <small class="ng-dirty ng-invalid" *ngIf="formBusqueda.get('txtNombre')?.hasError('pattern')">Ingrese solo
                  Letras</small>        
              </div>

              <div class="col-12 md:col-3">
                <label class="label-filter-text">Categorias</label>
                <p-dropdown formControlName="cboPerfil" optionLabel="value"
                  optionValue="id" [showClear]="true">
                </p-dropdown>
              </div>
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Marcas</label>
                <!-- <p-dropdown formControlName="cboTipoDocumento" placeholder="Seleccione" [options]="lstipodocumentocb"
                  [(ngModel)]="req.iid_tipo_documento" optionLabel="value" optionValue="id" [showClear]="true">
                </p-dropdown> -->
                <p-dropdown formControlName="cboTipoDocumento" placeholder="Seleccione" 
                  optionLabel="value" optionValue="id" [showClear]="true">
                </p-dropdown>
              </div>
        
              <div class="col-12 md:col-3">
                <label class="label-filter-text">Estado</label>
                <p-dropdown formControlName="cboEstado" placeholder="Seleccione"
                  optionLabel="value" optionValue="id" [showClear]="true">
                </p-dropdown>
              </div>
            </div>
        
            <div class="flex flex-wrap sm:flex-row">
              <div class="sm:mr-auto mb-3 mr-3">
                <button pButton label="Agregar Producto" type="button" icon="pi pi-plus" (click)="newUsuario()"
                  class="p-button-help" ></button>
              </div>
              <div class="mb-3 mr-3">
                <button pButton label="Buscar" icon="pi pi-search" type="submit"
                  class="p-button-outlined p-button-primary"></button>
              </div>
              <div class="">
                <button pButton label="Limpiar" type="button" icon="pi pi-trash" (click)="limpiarFrm()"
                  class="p-button-outlined p-button-secondary"></button>
              </div>
            </div>
          </form>
    </p-panel>
</div>
<div class="col-12">
    <p-panel header="Lista de Productos">
      
<p-table [value]="lstProductos" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Reviews</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data >
      <tr>
          <td><span class="p-column-title font-bold">Name</span>{{data.vNombre}}</td>
          <td><span class="p-column-title font-bold">Price</span>{{data.iPrecio | currency:'USD'}}</td>
          <td><span class="p-column-title font-bold">Categoria</span>{{data.vCategoria}}</td>
          <td><span class="p-column-title font-bold">Stock</span>{{data.iStock}}</td>
          <td><span class="p-column-title font-bold">Estado</span>{{data.vStock}}
            <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag> -->
          </td>
          <td>
            <!-- <span class="p-column-title">Reviews</span><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false">              
            </p-rating> -->
          </td>
      </tr>
  </ng-template>
</p-table>
    </p-panel>
</div>
